@use '../utils/' as utils;

.houses {
  &__img {
    @include utils.background-img-mobile('../static/duneHousesMobile.jpg');
    @include utils.respond-to(utils.$breakpoint-tablet) {
      @include utils.background-img-mobile('../static/duneHousesTablet.jpg');
    }
    @include utils.respond-to(utils.$breakpoint-desktop) {
      @include utils.background-img-mobile('../static/duneHousesDesktop1.jpg');
    }
    @include utils.respond-to(utils.$breakpoint-desktop2) {
      @include utils.background-img-mobile('../static/duneHousesDesktop2.jpg');
    }
    &:before {
      @extend %background-gradient;
      @include utils.respond-to(utils.$breakpoint-tablet) {
        display: none;
      }
    }
  }
  &__description {
    @include utils.text-box-overflow(86%);
    @include utils.respond-to(utils.$breakpoint-desktop) {
      scrollbar-color: transparent transparent;
    }
  }
  &__container {
    .subPage:nth-child(2n + 1) {
      @include utils.respond-to(utils.$breakpoint-desktop) {
        grid-template-areas:
          'img title'
          'img text';
      }
    }
  }
}
