@use '../utils/' as utils;

.menu {
  $self: &;
  right: -100vw;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  transition: 1s;
  @include utils.respond-to(utils.$breakpoint-desktop) {
    width: 30vw;
  }
  &__desktop {
    background-image: url('../static/duneMenuDesktopFullTry2.jpg');
    background-size: 100% auto;
    width: 90vw;
    height: 100vh;
    display: block;
    position: absolute;
    background-color: utils.$color-tertiary;
    top: 0;
    z-index: 1;
    left: -100vw;
    transition: all ease-in-out 0.8s;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../static/duneMenuDesktopFullTry2.jpg');
      background-size: 100% auto;
      width: 66vw;
      height: 100vh;
      z-index: 1;
    }
    &.is-active {
      left: 0;
      // animation: open-menu 2s ease-in-out both;
    }
  }
  // -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  // animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  &__options {
    position: absolute;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    // gap: 1.5rem;
    z-index: 2;
    list-style: none;
  }
  &__items {
    padding: 6px 0;
    font-family: utils.$title-font;
    font-size: 3.2rem;
    opacity: 0;
    width: 100%;
    text-align: center;
    transition: ease-in-out 0.5s all;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../static/duneMenu.jpg');
    background-size: cover;
    transition: 0.5s ease-in-out;
    animation: close-menu 0.5s ease-in-out both;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include utils.respond-to(utils.$breakpoint-desktop) {
      background-color: utils.$color-tertiary;
      background-image: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: utils.$color-opacity-two;
  }
  &.is-active {
    right: 0;
    &:before {
      transition: all ease-in-out 1s;
      animation: open-menu 2s ease-in-out both;
    }
    #{$self}__items {
      opacity: 1;
      &:nth-child(1) {
        // transition: ease-in-out 1.5s;
        animation: menu-child 1s ease-in-out;
      }
      &:nth-child(2) {
        // transition: ease-in-out 2.5s;
        animation: menu-child 1.5s ease-in-out;
      }
      &:nth-child(3) {
        // transition: ease-in-out 3s;
        animation: menu-child 2s ease-in-out;
      }
      &:nth-child(4) {
        // transition: ease-in-out 3.5s;
        animation: menu-child 2.5s ease-in-out;
      }
      &:nth-child(5) {
        // transition: ease-in-out 4s;
        animation: menu-child 3s ease-in-out;
      }
      .activeClassName {
        transition: 0.2s ease-in-out all;
        color: utils.$color-secondary;
        transform: scale(1.1);
        display: block;
        width: 100%;
        height: 100%;
        background-color: utils.$color-clear;
      }
    }
  }
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  display: flex;
  list-style: none;
  position: absolute;
  z-index: 2;
  opacity: 0;
  bottom: 0;
  padding-bottom: 32px;
  &.is-active {
    transition: all ease-in-out 5s;
    opacity: 1;
  }
  &-items {
    opacity: 1;
  }
}

@keyframes open-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close-menu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu-child {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-19 15:52:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
